@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.startLink a{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size:1.5rem;
    margin-left: 20px;
}